body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 400px;
    background: #111827;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    text-align: center;
}

h1 {
    margin-bottom: 10px;
    color: #38bdf8;
}

.subtitle {
    font-size: 14px;
    color: #cbd5e1;
    margin-bottom: 25px;
}

.form-box {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
}

input {
    padding: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-bottom: 10px;
    background: #1e293b;
    color: white;
}

button {
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #38bdf8;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0ea5e9;
}

#result {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

.safe {
    color: #22c55e;
}

.warning {
    color: #ef4444;
}

